// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  font-size: t.$font-size;
  line-height: 26px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: t.$font-size;
  font-family: t.$font;
}

a {
  text-decoration: none;
  color: $color-grayish-blue;
  font-weight: t.$regular;

  // &:hover {
  //   font-weight: t.$bold;
  // }
}

svg {
  cursor: pointer;
}

svg:hover path {
  fill: $color-lime-green;
}




.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  // position: fixed;
  opacity: 0.6;
  z-index: 1;
  // background-image: linear-gradient(to bottom, #2d314d, #3f435d, #52556d, #65687d, #797c8e, #8b8d9d, #9d9eac, #afb0bb, #c3c3cc, #d7d7dc, #ebebee, #ffffff);
  background-color: rgba(45,49,77,1);
}
