@use '../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$font: 'Public Sans', sans-serif;
$thin: 300;
$regular: 400;
$bold: 700;
$font-size: 1.125rem;

h1, h2, h3{
    font-family: $font;
    font-weight: $thin;
    color: $color-dark-blue;
}

h1 {
    font-size: 2.5rem;
    line-height: 47px;
    letter-spacing: -0.71px;
}

h2 {
    font-size: 2rem;
    line-height: 37.6px;
    letter-spacing: -0.57px;
}

p {
    font-size: 0.938rem;
    line-height: 25px;
    letter-spacing: -0.23px;
    font-weight: $regular;
    color: $color-grayish-blue;
}