@use "../abstracts" as *;
@use "../base" as *;

.articles {
  max-width: 327px;
  margin: 5.5rem auto;

  @media only screen and (min-width: $bp-desktop) {
    max-width: 1410px;
  }

  &__content-container {
    @media only screen and (min-width: $bp-desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  &__heading {
    margin-bottom: 1.938rem;
    text-align: center;
  }

  &__img {
    max-width: 327px;
    @media only screen and (min-width: $bp-desktop) {
      height: 220px;
      width: 100%;
    }
  }

  &__text-content {
    padding: 2rem;
    padding-left: 1.5rem;
    padding-top: 1.563rem;
  }
}
