.header {
  &__left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 327px;
    gap: 1rem;
    margin: 0 auto;
    margin-top: -50px;
  }

  &__right-content {
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100vw;
    -webkit-transform: translateY(-35%);
    transform: translateY(-12%);

    // background-image: url(/images/image-mockups.png);
    // background-position: top -145px center;
    // background-size: cover;
    // height: 338px;
    // background-repeat: no-repeat;
    // margin-bottom: 41px;
  }

  &__img {
    width: 100%;
  }
}
