@use "../abstracts" as *;
@use "../base/global" as *;

.nav {

  position: fixed;
  padding: 2rem;
  background-color: $color-white;
  width: 100%;
  z-index: 100;

  @media only screen and (min-width: $bp-desktop) {
    position: relative;
    flex-direction: row-reverse;
    padding: 2rem;
    background-color: hsl(0deg, 0%, 100%);
    width: 100%;
    z-index: 100;
  }

  &__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    gap: 2rem;

    @media only screen and (min-width: $bp-desktop) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    
  }

  &__list-container {
    display: none;
    position: absolute;
    background-color: $color-white;
    padding: 1.5rem;
    width: 327px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 106px;
    width: 90vw;
    border-radius: 4px;

    @media only screen and (min-width: $bp-desktop) {
      display: block;
      position: static;
      padding: 0;
      width: auto;
      padding-top: 0.4rem;
    }
  }

  &__list {
    padding-top: 1rem;

    @media only screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 30px;
      padding-top: 0;
    }
  }

  &__list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $bp-desktop) {
      margin-bottom: 0;
    }
  }

  &__list-link {
    color: $color-dark-blue;
  }

  &__cta {
    display: none;

    @media only screen and (min-width: $bp-desktop) {
      display: block;
      align-self: center;
    }
  }

  .hamburger-menu {
    background-color: transparent;
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-position: center center;

    @media only screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}

.hamburger-menu.active {
  background-image: url(../images/icon-close.svg);
}

.nav__list-container.show {
  display: block;
}

.logo {
  @media only screen and (min-width: $bp-desktop) {
    align-self: center;
  }
}
